
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=lios
Name=Lios
Comment=Scan & Read
Icon=/usr/share/lios/Gui/lios
Categories=Graphics;
Name[en_IN]=Lios
Comment[en_IN]=Scan & Read
